DATABASE_URL=postgresql://coffer:coffer@localhost:5432/coffer?schema=public

PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

TEMPORAL_ADDRESS=localhost:7233

NEXT_PUBLIC_API_URL=http://localhost:3001
